<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="src/library/autoload.php"
         syntaxCheck="false"
         strict="true">

  <testsuites>
    <testsuite name="Tests">
      <directory>test/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
        <directory suffix=".php">src/php/</directory>
    </whitelist>
  </filter>
</phpunit>
