[production]

; API Key for TheTVDB.com
;
; Get one at: http://thetvdb.com/?tab=apiregister
thetvdb.apiKey = 

; Target directory
target = /path/to/local/dir

; Torrent target directory
torrents = /path/to/local/dir

; Downloads directory
downloads = /path/to/local/dir

; List of shows, you want to follow
shows[] = "Something"
shows[] = "Something Else"

; Language for show titles, etc.
language = en

[staging]

[testing]

[development]
